<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body style="margin: 0; padding: 0; box-sizing: border-box;">
    <div style="display: flex; justify-content: space-between; align-items: center; background-color: aquamarine; color: black; font-size: large; padding: 5px;">
        <div>
        <h1>Welcome To Node JS</h1>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <ul style="display: flex; justify-content: center; align-items: center; gap: 10px; list-style-type: none; padding: 5px;">
                <a href="/"><li>Home</li></a>
                <a href='/about/:name/:id '><li>About</li></a>
            </ul>
        </div> 
    </div>
</body>
</html>